#page-site-index .course-content {
    display: none !important;
}
#page-site-index .buttons {
    display: none !important;
}

#id_manageremails, #id_companyadvanced, #id_userdefaults, #id_appearance, #id_certificatedesign {
    display: none !important;
}

[data-key="ioaddashboardnode"] {
    display: none !important;
}

#page-site-index > #page-wrapper{
    .custom-alert-block {
        display: none !important;
    }
}

.grade-multiselect {
    height: 118px !important;
    max-width: 250px !important;
}

.grade-multiselect-lg {
    height: 250px !important;
    max-width: 250px !important;
}

.school-multiselect {
    height: 200px !important;
    max-width: 300px !important;
}

.assign-school-button {
    border: 1px solid tomato;
    border-radius: 8px;
    padding: 10px 5px;
    text-decoration: none !important;
    color: tomato !important;
}

#header .editmode-switch-form .custom-control .custom-control-input~.custom-control-label:before {
    border: 1px solid tomato !important;
}

#usernavigation .popover-region-notifications {
    display: none !important;
}

#usernavigation [data-region="popover-region-messages"] {
    display: none !important;
}

.login-form-forgotpassword {
    display: none !important;
}
