#id_manageremails, #id_companyadvanced, #id_userdefaults, #id_appearance, #id_certificatedesign {
    display: none !important;
}

[data-key="ioaddashboardnode"] {
    display: none !important;
}

#page-site-index > #page-wrapper{
    .custom-alert-block {
        display: none !important;
    }
}
