{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_academi/course_blocks

    Academi course blocks template.
    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "course blocks page",
            "main_content": "<h1>Headings make html validators happier</h1>"
        },
        "bodyattributes":"",
        "availablecourses": "true",
        "promatedcourse": "true",
        "promotedtitle": "promoted courses"
    }
}}

{{! Available course }}
{{#availablecourses}}
    <div class="available-courses" id="available-courses">
        <div class="available-block">
            <div class="container">
                <div class="row">
                    <div class="course-slider col-md-12" data-crow="{{totalavacount}}">
                        {{#courses}}
                            <div class="available-content">
                                <div class="available-img">
                                    <a href={{link}}>
                                        <img src="{{imgurl}}" width="249" height="200" alt={{name}}>
                                    </a>
                                </div>
                                <div class="available-info">
                                    <div class="title-block">
                                        <h6><a href={{link}}>{{name}}</a></h6>
                                    </div>
                                    {{#summary}}
                                        <div class="desc-block">
                                            <p>{{#shortentext}} 120, {{{summary}}} {{/shortentext}}</p>
                                        </div>
                                    {{/summary}}
                                </div>
                            </div>
                        {{/courses}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/availablecourses}}

{{! Promototed course }}
{{#promatedcourse}}
    {{#isblockempty}}
        <div class="custom-alert-block alert alert-warning">
            {{#str}}blockemptymessage, theme_academi{{/str}}
        </div>
    {{/isblockempty}}

    {{#blockisempty}}
        <div class="promoted-courses" id="promoted-courses">
            <div class="container">
                {{#promotedcontent}}
                    <div class="titlebar">
                        {{#promotedtitle}}
                            <h2><b>{{promotedtitle}}</b></h2>
                        {{/promotedtitle}}
                        {{#promotedcoursedesc}}
                            <p>{{promotedcoursedesc}}</p>
                        {{/promotedcoursedesc}}
                    </div>
                {{/promotedcontent}}
            </div>
        </div>
    {{/blockisempty}}
{{/promatedcourse}}

{{! Overview }}
{{#overview}}
    <div class="overview mt-6">
        <div>
            <h2 class="text-dark fw-bold user-name">Hi {{username}},</h2>   
            <p class="text-dark platform-overview">Platform Overview</p>   
        </div>
        <div class="d-flex mt-3">
            <div class="bg-light border p-3 w-25 rounded">
                <div>Active Schools</div>
                {{#totalschoolcount}}
                    <div class="">{{totalschoolcount}}</div>
                {{/totalschoolcount}}
            </div>
            <div class="bg-light border p-3 w-25 ml-3 rounded">
                <div>Enrolled Students</div>
                <div class="">4000</div>
            </div>
            <div class="bg-light border p-3 w-25 ml-3 rounded">
                <div>Enrolled Teachers</div>
                <div class="">500</div>
            </div>
            <div class="bg-light border p-3 w-25 ml-3 rounded">
                <div>Active Surveys</div>
                {{#activesurveycount}}
                    <div class="">{{activesurveycount}}</div>
                {{/activesurveycount}}
            </div>
        </div>
    </div>
{{/overview}}

{{! Quick Actions }}
{{#quickaction}}
    <div class="quick-action mt-6">
        <p class="text-dark platform-overview mb-2">Quick Actions</p>
        <div class="d-flex">
            <a class="create-custom-button mt-3 mr-3" href="{{createnewschool}}">{{{plusicon}}} Add New School</a>
            <a class="create-custom-button mt-3 mr-3" href="{{createnewcourseurl}}">{{{plusicon}}} Create new course</a>
            <a class="create-custom-button mt-3 mr-3" href="{{createsurveyurl}}">{{{plusicon}}} Create new survey</a>
        </div>
    </div>
{{/quickaction}}

{{! Course Insights }}
{{#insights}}
    <div class="prominent-insights mt-6">
        <div>
            <p class="text-dark prominent-insights-title">Your Prominent Insights</p>   
            <p class="text-dark prominent-description">Based on the responses collected from surveys filled by you</p>   
        </div>
        <div class="d-flex">
            <div class="mt-4 border border-secondary rounded py-2 mx-4">
                {{{ chart }}}
            </div>
            <div class="mt-4 border border-secondary rounded py-2">
                {{{ horizontalbarchart }}}
            </div>
        </div>
    </div>
{{/insights}}